{% for item in expiring_items %}
  <div class="alert alert-warning">
    ⚠️ The item <strong>{{ item.item_id.item_name }}</strong> is expiring on {{ item.expiration_date }}.
  </div>
{% endfor %}
<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: {{ usage_percent }}%;" aria-valuenow="{{ usage_percent }}" aria-valuemin="0" aria-valuemax="100">
    {{ usage_percent|floatformat:0 }}% Full
  </div>
</div>

{% extends 'userMain.html' %} {% block loggedInContent %}

<style>
  .Shelf {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
  }
</style>
  
<style>
  .Item {
    width: 70px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    font-weight: 200;
  }
</style>

<style>
  .button {
    border-radius: 50%;
    background-color: #e7e7e7; 
    color: black;
    font-size: 20px;
    margin-left: 5px;
    text-align: center;

    }
</style>

<div class="pd-4">
  <div class="fs-2">Family Fridge for {{request.user}}.</div>

  {% if item_list %}

    <div class="Shelf">
      Left Shelves
      <!-- <span class="btn button">></span> -->
    </div>
    {% for item in item_list %}

      {% if item.item_type == "Left Shelves" %}
      <span class="Item">
        {% if item.item_image %}
          <img src="{{ item.item_image.url }}" width="50" height="50">
        {% else %}
          <img src="/path/to/default/image.jpg" width="50" height="50">
        {% endif %}
      {{ item.item_name }}
      </span>
      {% endif %}

    {% endfor %}


    <div class="Shelf">
      Middle Shelves
      <!-- <span class="btn button">></span> -->
    </div>
    {% for item in item_list %}

      {% if item.item_type == "Middle Shelves" %}
      <span class="Item">
        {% if item.item_image %}
          <img src="{{ item.item_image.url }}" width="50" height="50">
        {% else %}
          <img src="/path/to/default/image.jpg" width="50" height="50">
        {% endif %}
        {{ item.item_name }}
      </span>
      {% endif %}

    {% endfor %}


    <div class="Shelf">
      Right Shelves
      <!-- <span class="btn button">></span> -->
    </div>
    {% for item in item_list %}
          
      {% if item.item_type == "Right Shelves" %}
      <span class="Item">
        {% if item.item_image %}
          <img src="{{ item.item_image.url }}" width="50" height="50">
        {% else %}
          <img src="/path/to/default/image.jpg" width="50" height="50">
        {% endif %}
        {{ item.item_name }}
      </span>
      {% endif %}
          
    {% endfor %}


    <div class="Shelf">
      Freezer
      <!-- <span class="btn button">></span> -->
    </div>
    {% for item in item_list %}
      
      {% if item.item_type == "Freezer" %}
      <span class="Item">
        {% if item.item_image %}
          <img src="{{ item.item_image.url }}" width="50" height="50">
        {% else %}
          <img src="/path/to/default/image.jpg" width="50" height="50">
        {% endif %}
        {{ item.item_name }}
      </span>
      {% endif %}
      
    {% endfor %}

    <div class="Shelf">
      Produce
      <!-- <span class="btn button">></span> -->
    </div>
    <div style="margin-bottom: 5px;">
    {% for item in item_list %}

      {% if item.item_type == "Produce" %}
      <span class="Item">
        {% if item.item_image %}
          <img src="{{ item.item_image.url }}" width="50" height="50">
        {% else %}
          <img src="/path/to/default/image.jpg" width="50" height="50">
        {% endif %}
        {{ item.item_name }}
      </span>
      {% endif %}

    {% endfor %}

  {% else %}
    <p class="fs-5">There are no items in the fridge.</p>
  {% endif %}

</div>
{% endblock loggedInContent %}
