{% extends 'userMain.html' %}
{% block loggedInContent %}

<h1>My Families</h1>


{% if families %}
    <ul>
      {% for family in families %}

      <div class="card my-3" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">{{ family.family_name }}</h5>
          <span class="card-text"> Owner: {{ family.owner.username }}</span>
          <p class="card-text"> Created: {{ family.created|date:"F j, Y, g:i a" }}</p>
        </div>

        {% if family.CompartmentsDetails.all %}
          <ul class="list-group list-group-flush">
            {% for fridge in family.CompartmentsDetails.all %}
              <li class="list-group-item">
                <strong>Compartment:</strong> {{ fridge.compartment_name }}<br>
                <strong>Dimensions:</strong> {{ fridge.compartment_length }} x {{ fridge.compartment_width }} x {{ fridge.compartment_height }}<br>
              </li>
            {% endfor %}
          </ul>
          <div class="card-body">
            <a href="{% url 'manageFamilyMembers' family.family_id %}" class="btn btn-outline-primary card-link">Members</a>
            <a href="{% url 'manage_fridge_details' family.family_id %}" class="btn btn-outline-primary card-link">Compartments</a>
          </div>
        </div>
        {% else %}
          <p>No fridge details available.</p>
        {% endif %}
  {% endfor %}
    </ul>
{% else %}
    <p>You are not a member of any families yet.</p>
{% endif %}

{% endblock loggedInContent %}