{% extends 'userMain.html' %} {% block loggedInContent %}

<div class="fs-3 fw-bold">{{ User.username }} Space Allowance</div>

<div style="padding: 20px; width: 400px;">

    <i class="bi bi-person-circle me-2" style="font-size: 5rem;"></i>
    <span style="margin-left: 50px; display: inline-block;">
    <p class="fw-bold fs-4" style="margin-bottom: 5px;">{{ request.user }}</p>
    <p class="text-secondary">Member</p>
    </span>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
    <button type="button" onclick="window.location.href='/home'; return false;">Return Home</button>
</form>






{% endblock loggedInContent %}